<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}

    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="icon" href="{{ "/favicon.ico" type="image/x-icon" }}">

  <style>
  td {
    white-space:nowrap;
  }
  body {
    margin: 0;
  }

  * {
    box-sizing: border-box;
  }

  input, textarea {
    width: 100%;
  }
	  
  footer {
    top:295px;
  }	  
  </style>
  </head>
  <body>
    <div class="wrapper">
      <header>
	<!--<h1><a href="{{ "/" | absolute_url }}" style="color: #b12d2d">{{ site.title | default: site.github.repository_name }}</a></h1>-->
	      <a href="/index.html"><img src="{{site.logo | relative_url}}" alt="http://www.julielab.de" /></a>
	<nav>
	<br>
	<a href="/Staff/Hahn/">Prof. Dr. Udo Hahn</a>
	<br>
	<a href="/Staff/Buechel/">Sven Buechel</a>
	<br>
	<a href="/Staff/Duan/">Tinghui Duan</a>
	<br>
	<a href="/Staff/Faessler/">Erik Fäßler</a>
	<br>
	<a href="/Staff/Kampe/">Bernd Kampe</a>
	<br>
	<a href="/Staff/Lohr/">Christina Lohr</a>
	<br>
	<a href="/Staff/Modersohn/">Luise Modersohn</a>
	<br>
	<a href="/Staff/Redling/">Benjamin Redling</a>
	</nav>
      <footer>
        <p>Visit us on <a href="{{ site.github.owner_url }}">GitHub</a></p>
	<a href="https://www.uni-jena.de"><img src="{{site.fsu | relative_url}}" height="45" width="135" alt="https://www.uni-jena.de" /></a>
        <p><small>© 2019 JULIE Lab</small></p>
      </footer>
      </header>    

      <navi>
	<h1><a href="{{ "/" | absolute_url }}" style="color: #b12d2d">{{ site.title | default: site.github.repository_name }}</a></h1>
        <a href="/index.html">About</a> | <a href="/Lab+News.html">News</a> | <a href="/Projects/current.html">Projects</a> | <a href="/Staff.html">Staff</a> | <a href="/Students.html">Students</a> | <a href="/Resources/">Resources</a> | <a href="/Jobs.html">Jobs</a> | <a href="/Contact.html">Contact</a> | <a href="/Imprint.html">Imprint</a>
      </navi>
      <navi1>
        <a href="/index.html">About</a> | <a href="/Lab+News.html">News</a> | <a href="/Projects/current.html">Projects</a> | <a href="/Staff.html">Staff</a> | <a href="/Students.html">Students</a> | <a href="/Resources/">Resources</a> | <a href="/Jobs.html">Jobs</a> | <a href="/Contact.html">Contact</a> | <a href="/Imprint.html">Imprint</a>
      </navi1>
      
      <section>

	{{ content }}

      <footer1>
	<br>
        <p>Visit us on <a href="{{ site.github.owner_url }}">GitHub</a></p>
	<a href="https://www.uni-jena.de"><img src="{{site.fsu | relative_url}}" height="45" width="135" alt="https://www.uni-jena.de" /></a>
        <p><small>© 2019 JULIE Lab</small></p>
      </footer1>

      </section>      
    
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
